<section>
  <h1><%= @category.name %></h1>
  
  <ul>
    <% @category.products.each do |product| %>
    <li>
		Product Name: <%= link_to product.product_name, product_path(product) %>
	</li>
    <% end %>
  </ul>
</section>