<h6>Contact Us</h6>
<div>
	<p>Email: <%= @contact.email %></p>
	<p>Phone Number: <%= @contact.phone %></p>
	<p>Address: <%= @contact.address %></p>
</div>
<p><%= link_to 'Edit',  'admin/contacts/1/edit' %></p>